body{
    background-color: lightgoldenrodyellow;
    padding-top: 50px;
    color: floralwhite;
    font-family: 'Sansita Swashed', cursive;
}

.asteriskField{
    display: none;
}

form > .alert > ul > li{
    list-style: none;
}

.navbar{
    text-align: center;
}

#make
{
   display:none;
}

